<html>
<head>
  <title> Unused Instances Check</title>
</head>
<body>
 <p>
 The following instances have not received a connection in over 14 days. Please shutdown these instances temporarily and follow up with impacted users
 </p>
 <p> Unused Instances:</p>
 <ul>
   {% for instance in results_instances %}
   <li>{{ instance }}</li>
   {% endfor %}
 </ul>
 <p> Stopped Instances:</p>
 <ul>
   {% for instance in instances_stopped %}
   <li>{{ instance }}</li>
   {% endfor %}
   {% for clusters in clusters_stopped %}
   <li>{{ clusters }}</li>
</body>
</html>