The following instances have not received a connection in over 14 days. Please shutdown these instances temporarily and follow up with impacted users
Account Unused Instances:
	•	{% for instance in account_results_instances %}
	•	{{ instance }}
	•	{% endfor %}
Stopped Instances:
	•	{% for instance in account_instances_stopped %}
	•	{{ instance }}
	•	{% endfor %} {% for clusters in account_clusters_stopped %}
	•	{{ clusters }}
	•	{% endfor %}
